@using Compiler
@using Microsoft.Extensions.Logging
@inject IJSRuntime JsRuntime
@inject ILogger<Grid> Logger;
@implements IDisposable

<div class="grid-container">
    @for (var y = 0; y < gates.GetLength(1); y++)
    {
        <div class="grid-outer-row">
            <RowID Name="@(GateGrid.Names[y])"/>
            <div class="grid-row">
                <Line X1="0" X2="@(50 * GateGrid.Width + 10)"/>
                @for (var x = 0; x < gates.GetLength(0); x++)
                {
                    // Snap point between the cells
                    <SnapPoint X="@x" Y="@y" Half="@true" @ref="SnapRef"/>

                    QuantumGate localQGate = gates[x, y];

                    <Cell X="@x" Y="@y" QuantumGate="@localQGate" SnapPoints="@snapPoints"/>
                }
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public GateGrid GateGrid { get; set; } = null!;

    private Dictionary<string, SnapPoint> snapPoints = new();

    private SnapPoint SnapRef
    {
        set => snapPoints.Add(value.Id, value);
    }

    private QuantumGate[,] gates = null!;

    private DotNetObjectReference<Grid>? reference;

    protected override void OnParametersSet()
    {
        gates = RefreshGateArray();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            reference = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("Library.setReferences", reference);
        }

        await JsRuntime.InvokeVoidAsync("Library.initGrids");
    }

    public void Dispose()
    {
        GC.SuppressFinalize(this);
        reference?.Dispose();
    }

    [JSInvokable]
    public void Expand(string gateId, string snapId)
    {
        SnapPoint oldSnap = snapPoints[gateId];
        SnapPoint newSnap = snapPoints[snapId];

        Logger.LogInformation("Expanding at snap {0}", newSnap);

        GateGrid.InsertColumn(newSnap.X + 1);
        GateGrid.MoveGate(oldSnap.X + (newSnap.X < oldSnap.X ? 1 : 0), oldSnap.Y, newSnap.X + 1, newSnap.Y);

        ForceRerender();
    }

    [JSInvokable]
    public void Move(string gateId, string snapId)
    {
        SnapPoint oldSnap = snapPoints[gateId];
        SnapPoint newSnap = snapPoints[snapId];

        Logger.LogInformation("Moving the gate from snap {0} to snap {1}", oldSnap, newSnap);

        GateGrid.MoveGate(oldSnap.X, oldSnap.Y, newSnap.X, newSnap.Y);

        ForceRerender();
    }

    private QuantumGate[,] RefreshGateArray()
    {
        var arr = new QuantumGate[GateGrid.Width, GateGrid.Height];
        foreach ((QuantumGate gate, int x, int y) in GateGrid.Gates)
        {
            arr[x, y] = gate;
        }
        return arr;
    }

    private void ForceRerender()
    {
        gates = new QuantumGate[gates.GetLength(0), gates.GetLength(1)];
        StateHasChanged();

        gates = RefreshGateArray();
        StateHasChanged();
    }

}
